@page "/"

<h1>Link Builder</h1>

<p class="alert alert-info">
    This is where you'll be able to build the links used to generate RSS feeds by scraping public websites that don't provide their own.<br />
    But for now, it's only a placeholder.
</p>

<label for="url">URL of the website to scrape <small>(required)</small></label>
<input type="text" id="url" class="input-max" name="url" @bind="url" placeholder="http://" required />

<label for="matchIdOrClass">Only consider adding items whose id or class contains this value</label>
<input type="text" id="matchIdOrClass" class="input-large" name="matchIdOrClass" @bind="matchIdOrClass" placeholder="e.g. item-title" />

<label for="matchItemUrl">Only add items if their URL contains this value</label>
<input type="text" id="matchItemUrl" class="input-large" name="matchItemUrl" @bind="matchItemUrl" placeholder="/article/" />

<br />
<br />
<BSButton Color="Color.Secondary" OnClick="ToggleAdvancedSettings">Advanced Settings</BSButton>
<br />
<BSCollapse IsOpen="advancedSettingsVisible">
    <label for="title">Specify the title of the generated feed. Omit to use the title of the scraped website.</label>
    <input type="text" id="title" class="input-large" name="title" @bind="title" placeholder="use website title" />

    <label for="maxResults">The maximum number of items to return in the generated feed. (Between 1-100)</label>
    <input type="number" id="maxResults" class="input-small" name="maxResults" @bind="maxResults" min="1" max="100" step="1" />

    <label for="itemTitleSelector">Use this CSS selector to get the item title. Omit to use the text of the first matched &lt;a&gt; element.</label>
    <input type="text" id="itemTitleSelector" class="input-large" name="itemTitleSelector" @bind="itemTitleSelector" placeholder="use link text" />

    <label for="itemUrlSelector">Use this CSS selector to get the item URL. Omit to use the URL of the first matched &lt;a&gt; element.</label>
    <input type="text" id="itemUrlSelector" class="input-large" name="itemUrlSelector" @bind="itemUrlSelector" placeholder="use first URL" />

    <label for="itemDescriptionSelector">Use this CSS selector to get the item description. Omit to add no description to the generated feed.</label>
    <input type="text" id="itemDescriptionSelector" class="input-large" name="itemDescriptionSelector" @bind="itemDescriptionSelector" placeholder="exclude" />

    <label for="itemDateSelector">Use this CSS selector to get the item publish date. Omit to add no date to the generated feed.</label>
    <input type="text" id="itemDateSelector" class="input-large" name="itemDateSelector" @bind="itemDateSelector" placeholder="exclude" />
</BSCollapse>

<br />
<button type="button" class="btn btn-primary" @onclick="GenerateLink">Generate Link</button>

@code {
    string url;

    string matchIdOrClass;
    string matchItemUrl;

    string title;
    int maxResults = 10;

    string itemTitleSelector;
    string itemUrlSelector;
    string itemDescriptionSelector;
    string itemDateSelector;

    bool advancedSettingsVisible = false;

    private void GenerateLink()
    {
        // TODO: Generate link and move to preview
        throw new NotImplementedException();
    }

    private void ToggleAdvancedSettings()
    {
        advancedSettingsVisible = !advancedSettingsVisible;
        StateHasChanged();
    }
}