@page "/"

<h1>Link Builder</h1>

<p>This is where you'll be able to build the links used to generate RSS feeds by scraping public websites that don't provide their own.</p>
<p>But for now, it's only a placeholder.</p>