@page "/preview"
@page "/preview/{link}"
@inject HttpClient  httpClient

<h1>Preview</h1>

<p class="alert alert-info">
    This is where you'll be able to test the links you built to see whether the RSS Feed is correctly generated.<br />
    But for now, it's only a placeholder.
</p>

Generated link:
<input type="text" class="input-max" @bind="Link" />
<br />
<br />
<button class="btn btn-primary" @onclick="ShowPreviewAsync">Show Preview</button>

<BSCollapse IsOpen="previewResultVisible">
    <textarea style="width: 80%; min-height: 400px;">@previewResult</textarea>
</BSCollapse>

@code {
    [Parameter]
    public string Link { get; set; }

    string previewResult;
    bool previewResultVisible = false;

    private async Task ShowPreviewAsync()
    {
        if (string.IsNullOrWhiteSpace(Link))
        {
            previewResultVisible = false;
            StateHasChanged();
            return;
        }

        previewResult = await httpClient.GetStringAsync(Link);
        previewResultVisible = true;
        StateHasChanged();
    }
}